/* Icon */
.icon {
    width: 38px;
    height: 70px;
    margin: 40px auto 0; 
  }
  
  .wrapper {
    display: flex; /* Use flexbox for the wrapper */
    justify-content: center; /* Distribute items with space around */
    align-items: center;
  }
  
  .cv {
    height: 840px;
    width: 600px;
    margin: 0 auto; 
    background-image: url(Files/frame.png); 
    background-size: cover; 
    position: cover;
    text-align: center;
    flex: 1; 
  }
  
  .portfolio {
    height: 600px;
    width: 700px;
    margin: 0 auto;
    margin-top: 0%; 
  }
  
  .line {
    margin-top: 10px;
  }
  
  .footer {
    width: 100%;
    height: 60px;
    text-align: center;
  }
  
  body {
    background-color: #DAC0A3;
  }
  
  .line {
    height: 15px;
    background-color:#000000;
  }
  
  p, h2 , li {
    color: black;
  }
  
  p {
    padding: 15px;
  }
  
  #pp {
    height: 75px;
    width: 75px;
    border-radius: 50%; 
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 5px;
  }

  #info{
    margin-bottom: 30px;
    width: 450px;
    margin-left: 80px;
    text-align: justify;
    
  }
  
  .tech , .exp {
    flex: 0 0 auto; /* Prevent flex-grow and flex-shrink, set to initial width */
    height: 500px;
    width: 355px;
    background-image: url(Files/frame.png);
    background-size: cover;
    text-align: center;
  }
  
  .cv , .tech , .exp {
    background-color: blanchedalmond;
  }
  
  .tech, .cv, .exp {
    flex: 0 0 auto;
    margin: 30px; 
  }
  
  .wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 15px; /* Gap between grid items */
  }
  
  .g1 , .g2 , .g3 , .g4 , .g5 , .g6 {
    background-color: blanchedalmond;
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: black;
    box-shadow: 0 20px 30px;
  }
  
  #a {
    margin-top: 42px;
  }
  
  h3 {
    padding-top: 20px;
  }

  h2{
    margin-bottom: 50px;
  }
  
  #gh , #ln , #ins , #ph , #gm{
    margin: 10px;
  }

  #text{
    margin-left: 10px;
  }

  .exp2{
    text-align: justify;
  }
  